<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("./partials/head.ejs") %>

<body class="body_home">

<!--ACA SE INCLUYE EL PARTIAL : HEADER -->
<%- include("./partials/header.ejs") %>

     <!-- ======= Team Section ======= -->
     <section id="team">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <hr>
            <h3 class="section-title">Nuestros Clientes</h3>
            
            <div class="section-title-divider"></div>
            <p class="section-description">Quienes confiaron en nosotros</p>
          </div>
        </div>
        <hr>
        <div class="row"> 
         
          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="/images/clientes/barcelo final.jpg" alt=""></div>

            </div>
          </div>

          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="/images/clientes/transvalores.jpg" alt=""></div>

            </div>
          </div>

          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="/images/clientes/toyota final.jpg" alt=""></div>

            </div>
          </div>

           <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="/images/clientes/gamfer final.jpg" alt=""></div>
    
            </div>
          </div> 

          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="/images/clientes/lartirigoyen final.jpg" alt=""></div>

            </div>
          </div>


          

        </div>
        <hr>
      </div>
    </section>
<!-- End Team Section -->
  <!--ACA SE INCLUYE EL PARTIAL : -->
<%- include("./partials/footer.ejs") %>

</body>

</html>