<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("./partials/head.ejs") %>

<body class="body_home">

<!--ACA SE INCLUYE EL PARTIAL : HEADER -->
<%- include("./partials/header.ejs") %>


<!-- ======= About Section ======= -->

<section id="about">
  <hr>
  <div class="container wow fadeInUp">
   
    <div class="row">
      <div class="col-md-12">
     
        <h3 class="section-title">Nosotros</h3>
     <hr>   
        <div class="section-title-divider"></div>
        <p class="section-description"><strong>Punto 21 Digital </strong> es una empresa tecnológica que brinda servicios de escaneo masivo,<strong> contamos con más de 20 años de experiencia en el rubro</strong>, con el hardware y el software más moderno para brindarles una solución integral a la digitalización y la gestión de documentos tanto para PyMEs, empresas grandes y particulares.<br> <br>
        Nuestros escaners rotativos A3 proporcionan un <strong><em>alto nivel de confiabilidad, productividad y eficiencia</em></strong>, son equipos de alto rendimiento con un <strong>ciclo diario de 30.000 imágenes</strong>, que nos permite realizar proyectos de distintas magnitudes, desde bajo volúmen para particulares hasta grandes cantidades para empresas PyMEs, corpraciones e instituciones públicas y privadas.<br> <br> Contamos también con <strong>escaners de libros Satelital con Tecnología de captura aérea sin contacto (contactless)</strong>, lo que permite escanear periódicos, libros, documentos encuadernados, revistas, material de archivo como mapas, partituras musicales, planos,etc. sin la necesidad de desarmar, deslomar o dañar los originales.<br> <br>

        <b>Proyecto ganador de INCUBATE 2018, programa de incubación del Gobierno de la Ciudad de Buenos Aires, </b> <strong> seleccionado por su potencial en innovación social y el fortalecimiento del trabajo colaborativo;
        ofreciendo acceso a la tecnología, a sectores vulnerables de la comunidad.</strong>  <br>  <br> <h5 style="color:rgb(7, 60, 160); text-align: center"> <em>Hemos desarrollado los productos necesarios para que los archivos de una empresa
          dejen de ser un "MAL NECESARIO" y se conviertan en un medio dinámico y seguro para obtener
          información para tomar decisiones oportunas. Brindamos una solución a medida para cada cliente. </em></h5> <br> </p>
      </div>
    </div>
  </div>
  <div class="container about-container wow fadeInUp">
    <div class="row">

      <div class="col-lg-6 about-img">
        <img src="/images/img/proyecto21.jpg" alt="">
      </div>

      <div class="col-md-6 about-content">
        <h2 class="about-title">Lo ayudamos a ordenar sus ideas</h2>
        <p class="about-text">
    Podemos llevar nuestros equipos compactos de alta producción a las oficinas o depósitos del cliente o podemos digitalizar toda su documentacion en nuestras oficinas. <br>
        </p>
      <!--  <p class="about-text">
          TENGA TODA SU INFORMACION DIGITALIZADA E INTEGRADA EN UN SOLO SISTEMA Y UTILICE SUS DATOS DE FORMA SIMPLE RÁPIDA E INTELIGENTE. <br>

        </p> -->
        <p class="about-text">
          Desocupe espacio, ahorre costos, preserve originales, agilice el acceso a la Información, mejore los tiempos de respuesta e integre los documentos en papel a procesos digitales.
        </p>
        
        <p> <strong> <em>Obtenga una cotización personalizada para los servicios que necesita.</em></strong></p>
    <h2 class="about-title"> Ofrecemos </h2>
                   <ol class="list_services">
             <li>Preparación de documentos: desabrochado, acomodo de hojas dobladas </li>
             <li>Numeración de cajas y loteo para su posterior archivo y recupero</li>
             <li>Digitalización o captura de cada constancia documental</li>
             <li>Chequeo y verificación de la calidad de las imágenes generadas</li>
             <li>Indexación de las imágenes en base a las necesidades del cliente</li>
             <li>Reordenamiento de los originales físicos para su archivo</li>
             <li>Entrega por internet, soporte físico o plataforma de gestión</li>
             <li>Guarda y destrucción de archivo por fin de ciclo</li>
          </ol>


      </div>
    </div>
  </div>


<section class="main">

 <!-- Acerca de -->
<section class="acerca-de" id="acercaDe">
  <div class="contenedor">
    <div class="titulo-seccion">
      <hr>
      <h2>Un mundo mejor es posible</h2>
      <hr>
      <p>Conoce más sobre nosotros y nuestro <b>Impacto Social</b></p>
    </div>
    <div class="texto-acerca-de">
      <p>Punto 21 Digital tiene una fuerte impronta social, utilizamos la tecnología
como herramienta principal para generar un impacto positivo en la comunidad, enfocamos nuestra fuerza de trabajo en
emprendimientos basados en el uso de la tecnología, el trabajo colaborativo y la educación, intentamos igualar oportunidades en contextos social vulnerables y generar fuentes genuinas de trabajo.</p>
<p> Entendemos que acercando estas herramientas brindamos oportunidades, que no solamente
  despiertan inquietudes e intereses, sino que sobre todo rompe con la idea implícita de un orden
  social establecido, que condiciona a las personas por su lugar de origen.
  Creemos fervientemente que el cambio o la transformación social sólo se puede lograr a través de la
  educación y el aprendizaje continuo.</p>  
  <p>“El gran reto al que hace frente la humanidad es que la Educación no pueda ser un privilegio de un
    grupo exclusivo” <b>Carl Henrik Heldin </b>(Presidente de la Fundación Nobel en su discurso de apertura
    en la ceremonia de entrega de los premios Nobel 2014).</p> 
  <p><b>El conocimiento y el saber son lo único que puede romper el círculo de pobreza y exclusión.</b></p>
  <!-- <p><b>"Cuando se nace pobre, estudiar es el mayor acto de rebeldía contra el sistema", frase de Tomas Bulat.</b></p> -->
</div>
  </div>
</section>
<!-- Main -->
<section class="main">
  
  
  <!-- Proyectos -->
  <section class="proyectos" id="proyectos">
    <div class="contenedor">
      
      <div class="galeria-proyectos">
        <div class="proyecto">
          <img src="images/img/proyecto1.jpg" alt="Proyecto" class="imagen-proyecto">
          <p style="margin-top: 15px;"> <b>Impulsamos proyectos sociales</b></p>
          <p>Junto a <strong>Hugo Eurnekian</strong> CEO de CGC (Compañia General de Combustibles) - Presidente del Holding Corporación América S.A y <strong>Daniel Cerezo</strong> Director de Creer Hacer</p>
          <p><b>Barrio 21-24</b></p> 
        </div>
        <div class="proyecto">
          <img src="images/img/proyecto2.jpg" alt="Proyecto" class="imagen-proyecto">
          <p style="margin-top: 15px;"> <b>Creamos el Banco Solidario de anteojos</b></p>
          <p>Donde se realiza atención primaria sobre la salud visual y se donan los anteojos a quien lo necesita, se atendieron más de 500 niños y se donaron 267 anteojos</p>
          <p><b>Colegio Caacupé Barrio 21-24</b></p> 
        </div>
        <div class="proyecto">
          <img src="images/img/proyecto3.jpg" alt="Proyecto" class="imagen-proyecto">
          <p style="margin-top: 15px;"> <b>Finalista de la 2da Ed. del Poliedro por la paz</b></p>
          <p>Distinción que reconoce el trabajo por la paz y su promoción en diversas dimensiones, categoria <b>Educación por la Paz</b></p>
            <p><b>Palacio San Martín, Cancillería Argentina</b></p>
        </div>
        <div class="proyecto">
          <img src="images/img/proyecto4.jpg" alt="Proyecto" class="imagen-proyecto">
          <p> <b>Taller de Realidad Aumentada</b></p>
          <p>Realizamos diversos talleres en nuestras oficinas para los chicos del colegio Secundario de Caacupé del barrio 21-24, de la mano de expertos de la industria, de la investigación y la educación.</p>
          <p</p>
          <p><b>Centro Metropolitano de Diseño</b></p>
        </div>
        <div class="proyecto">
          <img src="images/img/proyecto5.jpg" alt="Proyecto" class="imagen-proyecto">
          <p style="margin-top: 15px;"> <b>V Congreso Internacional  "Las caras invisibles de la pobreza".</b></p>
          <p>Coordinación del taller "Emprender con impacto" junto a Creer Hacer y Fundación Diagonal</p>
          <p><b>Universidad Austral</b></p> 
        </div>
        <div class="proyecto">
          <img src="images/img/proyecto6.png" alt="Proyecto" class="imagen-proyecto">
          <p style="margin-top: 15px;"> <b>Talleres de Capacitación Ecoestufas.</b></p>
          <p>Junto a <strong> Pablo Durán</strong> creador de la Ecoestufa y <strong>Ricky Minicucci</strong> CEO de PAGO 24 y Director Ejecutivo Empresas B Argentina <br> Empresas de Triple Impacto.</p>
          <p><b>Centro de Oficios Caacupé - Barrio 21-24</b></p>
        </div>

        <div class="titulo-seccion">
          
          <h2>Nos vinculamos y aprendemos de los mejores</h2>
           <hr>        
        </div>


      </div>

      <div class="galeria-proyectos">
        <div class="proyecto">
          <img src="images/img/social1.jpg" alt="Proyecto" class="imagen-proyecto"><br>
          <p style="margin-top: 15px;"> <b>Diplomatura en Transformación Social</b></p>
          <p>Junto a <strong>Pedro Tarak</strong> Co-Fundador de Sistema B, Presidente de Sistema B Internacional
            , Embajador Global Movimiento de Empresas B</p>
            <p><b>Universidad Siglo XXI </b></p>
        </div>
        <div class="proyecto">
          <img src="images/img/social2.jpg" alt="Proyecto" class="imagen-proyecto">
          <p style="margin-top: 15px;"> <b>Reunión con:</b></p>
          <p><strong>Gerry Higgins</strong> Director General del Foro Mundial de Empresas Sociales UK</p>
          <p><b>Centro Metropolitano de Diseño</b></p>
          
        </div>
        <div class="proyecto">
          <img src="images/img/social3.jpg" alt="Proyecto" class="imagen-proyecto">
          <p style="margin-top: 15px;"> <b>Trabajo en Proyecto Educativo</b></p>
          <p>Junto a <strong>Conrado Varotto</strong> Fundador de INVAP
            , Ex Director del la Comisión Nacional de Actividades Espaciales (CONAE)</p>
          <p><strong>Conferencia Episcopal Argentina (CEA)</strong> </p>
        </div>
        <div class="proyecto">
          <img src="images/img/social4.jpg" alt="Proyecto" class="imagen-proyecto">
          <p style="margin-top: 15px;"> <b>Dipolomatura en Transformación Social</b></p>
          <p>Taller con <strong>Isela Costantini</strong> CEO Grupo Financiero GST, ex Presidenta de Aerolíneas Argentinas, ex CEO de General Motors LatAm</p>
          <p><strong>MATE Labs Creer Hacer</strong> </p>
        </div>
        <div class="proyecto">
          <img src="images/img/social5.jpg" alt="Proyecto" class="imagen-proyecto">
          <p style="margin-top: 15px;"> <b>Experiencia Endeavor 2019</b></p>
          <p>Junto a <strong>Guibert Englebienne</strong> Co-Foundador Globant, Presidente Globant LatAm, Presidente de Endeavor Argentina</p>
          <p><strong>Centro Cultural Kirchner (CCK)</strong> </p>
          
        </div>
        <div class="proyecto">
          <img src="images/img/social6.jpg" alt="Proyecto" class="imagen-proyecto">
          <p style="margin-top: 15px;"> <b>Reunión Emprendedores de Alto impacto</b></p>
          <p>Junto a <strong>Nicolas Dujovne</strong> Ministro de Economía,<strong> Andy Freire</strong> y <strong> Santiago Senna</strong></p>
          <p><strong>Palacio Lezama</strong> </p>
          
        </div>
      </div>


    </div>
  </section>

  <!-- Nuestro equipo -->
  <section class="nuestro-equipo" id="equipo">
    <div class="contenedor">
      <div class="titulo-seccion">
        <h2>Nuestro equipo</h2>
        <p>Personas expertas y apasionadas por lo que hacen</p>
      </div>
      <div class="equipo">
        <div  class="persona-equipo" style="margin-bottom: 35px;">
          <div class="foto">
            <img src="images/img/equipo01.jpg" alt="Persona">
          </div>
          <div class="texto">
            <h3>Natalia Quintana Davies</h3>
            <h4>Prof. de Tecnología - Emprendedora</h4>
            <p>Fundadora Artecito - Banco Solidario de Anteojos - Punto 21 Digital.</p>
            <p>Oradora Barrio Abierto Creer Hacer. <br>Facilitadora Digital INTEC</p>
          </div>
        </div>

        <div class="persona-equipo" style="margin-bottom: 35px;">
          <div class="foto">
            <img src="images/img/equipo02.jpg" alt="Persona">
          </div>
          <div class="texto">
            <h3>Juan Manuel López</h3>
            <h4>Prof. de Matemáticas - Divulgador Científico</h4>
            <p>Prof. Universidad de Buenos Aires y de la Universidad de San Andres </p>
            <p>Divulgador Científico Centro Cultural de la Ciencia </p>
          </div>
        </div>

        <div class="persona-equipo" style="margin-bottom: 35px;">
          <div class="foto">
            <img src="images/img/equipo03.jpg" alt="Persona">
          </div>
          <div class="texto">
            <h3>Horacio Yñiguez</h3>
            <h4>Emprendedor Social - mentor MATE Labs</h4>
            <p>Co-fundador Punto 21 Digital - Banco Solidario de Anteojos.</p>
          </div>
          
        </div>

        <div class="persona-equipo" style="margin-bottom: 35px;">
          <div class="foto">
            <img src="images/img/equipo04.jpg" alt="Persona">
          </div>
          <div class="texto">
            <h3>Camila Yñiguez Quintana</h3>
            <h4>Estudiante Lic. Ciencias Políticas Universidad Torcuato Di Tella <br> y Lic. Filosofía UBA</h4>
            <p>Egresada Colegio Nacional de Buenos Aires.</p>
            <p>Ganadora de las Olimpiadas de Filosofía de la República Argentina Año 2021 </p>
            <p>Docente apoyo escolar Caacupé Barrio 21-24</p>
          </div>
          
        </div>

        <div class="persona-equipo" >
          <div class="foto">
            <img src="images/img/equipo05.jpg" alt="Persona">
          </div>
          <div class="texto">
            <h3>Antonella Yñiguez Quintana</h3>
            <h4>Docente - Operadora Socio - Comunitaria</h4>
            <p>Co-fundador Banco Solidario de Anteojos.</p>
            <p>Docente apoyo escolar Caacupé Barrio 21-24.</p>
          </div>
          
        </div>
      </div>
    </div>
  </section>





<!--ACA SE INCLUYE EL PARTIAL : -->
<%- include("./partials/footer.ejs") %>

</body>




</html>
