<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("./partials/head.ejs") %>

<body class="body_home">

<!--ACA SE INCLUYE EL PARTIAL : HEADER -->
<%- include("./partials/header.ejs") %>

<!-- ======= Services Section ======= -->
<section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Nuestros Servicios</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description"> <em>Le permiten liberar a su Empresa del papel, y maximizar la potencia de su información a través de procesos tecnológicos de forma segura, rápida y eficiente. </em> </h4>
           <br>
           <br>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-sitemap"></i></div>
          <h4 class="service-title"><a href="">INTEGRACIÓN DE TODOS SUS DOCUMENTOS DIGITALES Y EN PAPEL</a></h4>
          <p class="service-description">Toda la documentación de su empresa tanto la fisica (papeles) como la documentacion digital puede integrarse en un único repositorio con accesibilidad por parte de toda su empresa o las personas designadas a través de usuario y contraseña.<br> <strong>
           Nuestra plataforma permite modelar cualquier lógica documental de negocio. </strong> </p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="service-title"><a href="">GESTIÓN DE PROYECTOS</a></h4>
          <p class="service-description"> <ul>
                                              <li>Relevamiento sobre requisitos y necesidades del cliente para la ejecución del proyecto, clasificación,loteo y codificación de expedientes, cajas, archivos etc. </li>
                                              <li>Asesoría</li>
                                                <li>Seguridad y confidencialidad</li>
                                          </ul>
              
                  
              
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-file-archive-o"></i></div>
          <h4 class="service-title"><a href="">FORMATOS DE IMAGENES</f></a></h4>
          <p class="service-description"> <ul>
                                              <li>PDF(Portable Document Format) Imágenes e imágenes sobre texto </li>
                                              <li> TIF y TIFF G4 de alta compresión </li>
                                              <li>JPG y JPEG 2000 </li>
                                              <li>Documento de texto</li>
                                              <li>Documento HTML y XML </li>
                                              <li>Expediente de Base de Datos (CVS y DBF) </li>
                                          </ul>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-photo"></i></div>
          <h4 class="service-title"><a href="">Conversión de Imagen a texto</a></h4>
          <p class="service-description">Procesamiento de OCR (Recononocimiento Óptico de Caracteres) <br> Reconocimiento de texto mejorado, Indexación del texto producto del OCR para fácil localización en las imágenes.
                </p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-users"></i></div>
          <h4 class="service-title"><a href="">Equipo de Trabajo</a></h4>
          <p class="service-description"> <br>
                                            <ul>
                                              <li>Lider de proyecto </li>
                                              <li>Equipo para la preparación de los Documentos</li>
                                              <li>Notebook y Equipos Portatiles de Captura de Imágenes</li>
                                              <li>Equipo de rearmado de Expedientes</li>
                                              <li>Equipo de Indexación y captura de Datos</li>
                                              <li>Especialista en Gestión de la información</li>
                                          </ul>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-hdd-o"></i></div>
          <h4 class="service-title"><a href="">Entregables</a></h4>
          <p class="service-description"> <br>
                                              <ul>
                                              <li>Almacenamiento de entregas en (CD, DVD, Pendrive, disco externo, etc) </li>
                                              <li>Acceso web y alojamiento en nuestros Servidores</li>
                                              <li>Gestión de Datos Corporativa a través de TERADOC Plataforma de Gestión Documental</li>

                                          </ul>


            </p>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!--ACA SE INCLUYE EL PARTIAL : -->
<%- include("./partials/footer.ejs") %>

</body>

</html>